<html>
<body>

<form action="test.php" method="post">
Class Name (prefix and session number):<br> 
<input type="text" name="classname" id = "classname"><br>
Test Type (quiz, midterm, etc.):<br>
<input type="text" name= "type" id="type"><br>
Start Time:<br>
<input type="text" name="start" id = "start"><br>
End Time:<br> 
<input type="text" name="end" id="end"><br>
Will Be Tested On:<br>
<textarea name="testmaterial" rows = "5" cols = "30" id = "testmaterial"></textarea><br>
<input type="submit">
</form>

</body>
</html>